*{
	font-family: 'Roboto', sans-serif;
}
ul li:hover {
	background-color: #d8ab8b;
  border: 1px solid white;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
.main-text {
position: absolute;
top: 50px;
width: 96.66666666666666%;
color: #FFF;
}
h1 {
  color: white;
}
hr {
background-color: white;
width: 65px;
float: left;
}
button {
  background-color: none;
}
.btnstart{
  color: black; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(165, 152, 150); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.btnstart span{
  color: #fff ; /* цвет текста */
} 
.btnstart h2{
  font-size: 1.25em;
}
form {
  background-color: pink;
  border-radius:4px;
} 
.btn{
  background-color: #d8ab8b;
}

.btn:hover {
  background-color: #d8ab8b;
  border: 1px solid white;
}

.cat{
  background-image: url("../images/cat.jpg");
}
.F{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveF.png") no-repeat;
}
.F:hover{
  background: url("../images/icon/ActiveF.png") no-repeat;
}
.T{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveT.png") no-repeat;
}
.T:hover{
  background: url("../images/icon/ActiveT.png") no-repeat;
}
.G{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveG.png") no-repeat;
}
.G:hover{
  background: url("../images/icon/ActiveG.png") no-repeat;
}
.P{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveP.png") no-repeat;
}
.P:hover{
  background: url("../images/icon/ActiveP.png") no-repeat;
}
.I{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveI.png") no-repeat;
}
.I:hover{
  background: url("../images/icon/ActiveI.png") no-repeat;
}
.S{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveS.png") no-repeat;
}
.S:hover{
  background: url("../images/icon/ActiveS.png") no-repeat;
}
.R{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveR.png") no-repeat;
}
.R:hover{
  background: url("../images/icon/ActiveR.png") no-repeat;
}

