*{
	font-family: 'Roboto', sans-serif;
}
.menu ul li:hover {
	background-color: #d8ab8b;
  border: 1px solid white;
}
.cat h1,
.cat p {
  color: white;
}
.cat hr {
background-color: white;
width: 65px;
}
.cat button {
  background-color: none;
}
.cat .btnstart{
  color: black; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(165, 152, 150); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
   border-radius:16px 16px 0 0;
} 
.btnstart span{
  color: #fff ; /* цвет текста */
} 
.btnstart h2{
  font-size: 1.25em;
}
.cat form {
  background-color: #f1e3d1;
  border-radius:16px 16px;
}
.btn{
  background-color: #d8ab8b;
  width: 100%;
  border-radius: 0 0 16px 16px ;
}

.btn:hover {
  background-color: #d8ab8b;
  border: 1px solid white;
}

.cat{
  background-image: url("../images/cat.jpg");
}
.soc {
  background: #f1e3d1;
}
.F{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveF.png") no-repeat;
}
.F:hover{
  background: url("../images/icon/ActiveF.png") no-repeat;
}
.T{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveT.png") no-repeat;
}
.T:hover{
  background: url("../images/icon/ActiveT.png") no-repeat;
}
.G{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveG.png") no-repeat;
}
.G:hover{
  background: url("../images/icon/ActiveG.png") no-repeat;
}
.P{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveP.png") no-repeat;
}
.P:hover{
  background: url("../images/icon/ActiveP.png") no-repeat;
}
.I{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveI.png") no-repeat;
}
.I:hover{
  background: url("../images/icon/ActiveI.png") no-repeat;
}
.S{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveS.png") no-repeat;
}
.S:hover{
  background: url("../images/icon/ActiveS.png") no-repeat;
}
.R{
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/icon/noActiveR.png") no-repeat;
}
.R:hover{
  background: url("../images/icon/ActiveR.png") no-repeat;
}
.history1 hr
.history2 hr {
  background: orange;
  width: 65px;
}
h4 {
}
.history1 p{
}
.history1 {
  background-color: #f1e3d1;
}
.kolo1 svg {
  float: left;
}
.kolo2 svg {
  float: left;
}
.kolo2 h4 {
  clear: both;
}
.history2 hr {
  background: orange;
  width: 65px;
}
.nothing {
  background: #212529;
}